.card__wrapper {

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 349px);
    gap: 30px;
    margin: 0 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 349px);
  }

}

.card__item {
  background-color: @white;
  margin: 20px;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {

    &--choosed {
      box-shadow: 0px 5px 15px rgba(@black, 0.15);
    }
  }
}

.card__item-img {
  margin: 0 auto;
  padding: 40px 0 24px;
}

.card__item-intro {
  padding-left: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
}

.card__item-info {
  padding: 0 30px 0 20px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
