.footer {
  width: 320px;
  margin: 0 auto;
}

.footer__item {
  border-top: 1px solid @secondary;
  padding: 20px;
  text-align: left;

  &:nth-child(3) {
    border-bottom: 1px solid @secondary;
  }
}

.footer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: @primary;
  padding-bottom: 20px;
}

.footer__list {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  li {
    padding-bottom: 15px;
  }
}



