.map {
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
}

.map__canvas {
  width: 320px;
  height: 500px;
  margin: 0 auto;
  background-color: @light-grey;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}
