.pagination__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 20px 60px;
}

.pagination__item {
  padding: 8px 20px;
  background-color: @white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: @primary;

  &--choose {
    background-color: inherit;
    color: @black;
    font-weight: 600;
  }
}

.pagination__item-word {
  display: none;
}

.pagination__item-icon {
  display: none;
}
