.sort {
  border: none;

  @media (min-width: @tablet-width) {
    text-align: right;
  }
}

.sort__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.sort__value {
  border: none;
  background-color: inherit;
  color: @primary;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
