@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../fonts/montserrat.woff2") format("woff2"), url("../fonts/montserrat.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  src: local("montserratsemibold"), url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  src: local("montserratsemibold"), url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  src: local("montserratbold"), url("../fonts/montserratbold.woff2") format("woff2"), url("../fonts/montserratbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: #333333;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  background-color: #FFFFFF;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
}
.button {
  border: none;
  color: #FFFFFF;
  background-color: #7859CF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "montserrat", "Arial", sans-serif;
  border-radius: 4px;
}
.main-nav {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-nav {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    width: 1440px;
  }
}
.main-nav__logo {
  display: block;
  margin: 12px 90px 12px 20px;
  width: 32px;
  height: 36px;
  background-image: url("../img/logotype-phone.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .main-nav__logo {
    width: 83px;
    margin-right: 0;
    background-image: url("../img/logotype-short.svg");
  }
}
@media (min-width: 1440px) {
  .main-nav__logo {
    width: 170px;
    background-image: url("../img/logotype-desktop.svg");
  }
}
.main-nav__shop {
  display: none;
}
@media (min-width: 1440px) {
  .main-nav__shop {
    display: block;
    width: 175px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    padding-left: 20px;
  }
}
.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1440px) {
  .main-nav__container {
    display: flex;
    flex-direction: row;
  }
}
.main-nav__toggle {
  border: none;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.slider-promo {
  width: 320px;
  margin: 0 auto;
  display: block;
  position: relative;
  background-color: #F3EBE1;
}
.slider-promo--new {
  margin: 0 auto;
  padding: 0;
  color: #7859CF;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .slider-promo {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .slider-promo {
    width: 1440px;
  }
  .slider-promo--new {
    width: 625px;
    text-align: left;
  }
}
.slider-promo__arrowleft,
.slider-promo__arrowright {
  position: absolute;
}
.slider-promo__wrapper {
  display: block;
  position: relative;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .slider-promo__wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 308px;
    padding-top: 60px;
  }
}
@media (min-width: 1440px) {
  .slider-promo__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
  }
}
.slider-promo__card-wrapper {
  width: 320px;
  height: 320px;
  background-image: url("../img/flat-white-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .slider-promo__card-wrapper {
    background-image: url("../img/flat-white-mobile@2x.png");
  }
}
@media (min-width: 768px) {
  .slider-promo__card-wrapper {
    display: block;
    position: absolute;
    left: 50%;
    bottom: -170px;
    transform: translateX(-50%);
    width: 476px;
    height: 476px;
    background-image: url("../img/flat-white-tablet.png");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .slider-promo__card-wrapper {
    background-image: url("../img/flat-white-tablet@2x.png");
  }
}
@media (min-width: 1440px) {
  .slider-promo__card-wrapper {
    bottom: 0;
    left: 0;
    transform: none;
    width: 600px;
    height: 600px;
    position: relative;
    padding: 30px 10px 80px 100px;
    background-image: url("../img/flat-white-desktop.png");
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .slider-promo__card-wrapper {
    background-image: url("../img/flat-white-desktop@2x.png");
  }
}
@media (min-width: 1440px) {
  .slider-promo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .slider-promo__description {
    width: 625px;
    text-align: left;
  }
}
.slider-promo__description-intro {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .slider-promo__description-intro {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    padding-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .slider-promo__description-intro {
    padding: 0;
  }
}
.slider-promo__description-info {
  line-height: 20px;
  font-size: 14px;
  padding: 0 26px;
}
@media (min-width: 768px) {
  .slider-promo__description-info {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding: 0 55px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .slider-promo__description-info {
    padding: 0 55px 0 0;
  }
}
.slider-promo__description-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1440px) {
  .slider-promo__description-wrapper {
    justify-content: flex-start;
  }
}
.slider-promo__description-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  padding: 3px;
}
.slider-promo__description-price--del {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #7859CF;
}
.slider-promo__description-price-button {
  padding: 8px 20px;
  margin-left: 20px;
}
.slider-promo__arrowleft {
  display: block;
  position: absolute;
  left: 4px;
  top: 50%;
}
@media (min-width: 768px) {
  .slider-promo__arrowleft {
    left: 34px;
  }
}
.slider-promo__arrowright {
  display: block;
  position: absolute;
  right: 4px;
  top: 50%;
}
@media (min-width: 768px) {
  .slider-promo__arrowright {
    right: 34px;
  }
}
.site-list {
  display: none;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .site-list {
    padding-right: 20px;
  }
}
.site-list__item {
  width: 320px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-list__item {
    width: 103px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .site-list__item--active {
    color: #7859CF;
    border-bottom: 2px solid #7859CF;
  }
}
@media (min-width: 1440px) {
  .site-list__item {
    padding-left: 20px;
  }
}
@media (min-width: 1440px) {
  .user-list__login {
    display: flex;
    flex-direction: row;
  }
}
.user-list__login-name {
  display: none;
}
@media (min-width: 1440px) {
  .user-list__login-name {
    display: block;
  }
}
@media (min-width: 1440px) {
  .user-list__login-icon {
    padding-right: 10px;
  }
}
@media (min-width: 768px) {
  .cart__enter {
    padding-right: 45px;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .cart__enter-icon {
    padding-right: 10px;
  }
}
.cart__enter-name {
  display: none;
}
@media (min-width: 1440px) {
  .cart__enter-name {
    display: block;
  }
}
.benefits {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .benefits {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .benefits {
    width: 1440px;
  }
}
.benefits__banner {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #7859CF;
  text-transform: uppercase;
  padding: 50px 0 4px;
}
@media (min-width: 768px) {
  .benefits__banner {
    padding-top: 230px;
  }
}
@media (min-width: 1440px) {
  .benefits__banner {
    padding-top: 100px;
  }
}
.benefits__intro {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .benefits__intro {
    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .benefits__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
    padding: 0 30px 115px;
  }
}
@media (min-width: 1440px) {
  .benefits__wrapper {
    grid-template-columns: repeat(4, 1fr);
    align-items: baseline;
  }
}
.benefits__item {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .benefits__item {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .benefits__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.benefits__item-img {
  margin: 0 auto;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .benefits__item-img {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .benefits__item-img {
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .benefits__item-container {
    padding-left: 20px;
  }
}
@media (min-width: 1440px) {
  .benefits__item-container {
    padding-left: 0;
  }
}
.benefits__item-intro {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .benefits__item-intro {
    padding-bottom: 8px;
  }
}
.benefits__item-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px 30px;
  margin: 0;
}
@media (min-width: 768px) {
  .benefits__item-info {
    padding: 0 40px 0 0;
  }
}
@media (min-width: 1440px) {
  .benefits__item-info {
    padding-right: 0;
  }
}
.catalog {
  width: 320px;
  margin: 0 auto;
  background-color: #F8F8F8;
}
@media (min-width: 768px) {
  .catalog {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    width: 1440px;
  }
}
@media (min-width: 1440px) {
  .catalog__container {
    display: flex;
    flex-direction: row;
  }
}
.catalog__filter {
  padding: 0 20px 48px;
}
.catalog__banner {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #7859CF;
  text-transform: uppercase;
  padding: 50px 0 4px;
}
.catalog__intro {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .catalog__intro {
    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
  }
}
@media (min-width: 768px) {
  .catalog__filter-container {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .catalog__filter-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.catalog__filter-button {
  background-color: #FFFFFF;
  color: #7859CF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 67px;
}
.range {
  display: flex;
  flex-direction: column;
}
.range-intro {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.range__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.range-min,
.range-max {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #7859CF;
  border-radius: 4px;
}
.range-min {
  padding: 10px 55px;
  color: #BDBDBD;
}
@media (min-width: 768px) {
  .range-min {
    padding: 6px 41px;
    margin: 20px 0;
  }
}
.range-stroke {
  padding: 0 10px;
  margin: auto;
}
.range-max {
  padding: 10px 45px;
}
@media (min-width: 768px) {
  .range-max {
    padding: 6px 31px;
    margin: 20px 0;
  }
}
.radio {
  text-align: left;
}
.radio__intro {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.radio__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.checkbox {
  text-align: left;
}
.checkbox__intro {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.checkbox__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.sort {
  border: none;
}
@media (min-width: 768px) {
  .sort {
    text-align: right;
  }
}
.sort__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.sort__value {
  border: none;
  background-color: inherit;
  color: #7859CF;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .card__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 349px);
    gap: 30px;
    margin: 0 20px;
  }
}
@media (min-width: 1440px) {
  .card__wrapper {
    grid-template-columns: repeat(3, 349px);
  }
}
.card__item {
  background-color: #FFFFFF;
  margin: 20px;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .card__item {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .card__item--choosed {
    box-shadow: 0px 5px 15px rgba(51, 51, 51, 0.15);
  }
}
.card__item-img {
  margin: 0 auto;
  padding: 40px 0 24px;
}
.card__item-intro {
  padding-left: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .card__item-intro {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
}
.card__item-info {
  padding: 0 30px 0 20px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 0 20px;
}
.price__walue {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
.price__button {
  padding: 8px 20px;
}
.price__button-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.pagination__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 20px 60px;
}
@media (min-width: 768px) {
  .pagination__wrapper {
    justify-content: end;
    text-align: right;
  }
}
.pagination__item {
  padding: 8px 20px;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7859CF;
}
.pagination__item--choose {
  background-color: inherit;
  color: #333333;
  font-weight: 600;
}
.pagination__item:nth-child(1) {
  display: none;
}
.pagination__item:nth-child(6) {
  display: none;
}
@media (min-width: 768px) {
  .pagination__item {
    margin-right: 20px;
  }
  .pagination__item:nth-child(1) {
    display: block;
  }
  .pagination__item:nth-child(2) {
    display: none;
  }
  .pagination__item:nth-child(6) {
    display: block;
    margin-right: 0;
  }
  .pagination__item:nth-child(7) {
    display: none;
  }
}
.map {
  width: 100%;
  height: 500px;
  background-color: transparent;
}
.footer {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .footer {
    width: 1440px;
  }
}
@media (min-width: 1440px) {
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.footer__item {
  border-top: 1px solid #F0EBFF;
  padding: 20px;
  text-align: left;
}
.footer__item:nth-child(3) {
  border-bottom: 1px solid #F0EBFF;
}
@media (min-width: 768px) {
  .footer__item {
    border-top: none;
  }
  .footer__item:nth-child(3) {
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .footer__item {
    padding: 0;
  }
}
.footer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #7859CF;
  padding-bottom: 20px;
}
.footer__list {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.footer__list li {
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .footer__block-group {
    display: grid;
    grid-template-columns: repeat(3, 240px);
  }
}
@media (min-width: 1440px) {
  .footer__block-group {
    grid-template-columns: repeat(3, 337px);
    padding-top: 50px;
  }
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}
@media (min-width: 1440px) {
  .social {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 40px;
    justify-content: flex-start;
  }
}
.social__logo {
  margin: 22px 0 22px 20px;
  width: 83px;
  height: 36px;
  background-image: url("../img/logotype-short.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .social__logo {
    width: 170px;
    background-image: url("../img/logotype-desktop.svg");
  }
}
@media (min-width: 1440px) {
  .social__logo {
    margin: 0;
    padding-bottom: 10px;
  }
}
.social__shop {
  display: none;
}
@media (min-width: 1440px) {
  .social__shop {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 50px;
  }
}
.social__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.social__item {
  padding-left: 39px;
}
@media (min-width: 1440px) {
  .social__item {
    padding-left: 0;
    padding-right: 39px;
  }
}
.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #BDBDBD;
  padding: 20px 30px 30px 20px;
}
@media (min-width: 1440px) {
  .bottom {
    width: 1440px;
  }
}
.bottom__logo {
  padding-left: 5px;
}
.list__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.list__icon {
  width: 13px;
  height: 16px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
}
.list__icon--mark {
  background-image: url("../img/icons/mark.svg");
}
.list__icon--tel {
  background-image: url("../img/icons/tel.svg");
}
.list__info {
  width: 80%;
}
/*# sourceMappingURL=style.css.map */
