@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../fonts/montserrat.woff2") format("woff2"), url("../fonts/montserrat.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  src: local("montserratsemibold"), url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  src: local("montserratsemibold"), url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  src: local("montserratbold"), url("../fonts/montserratbold.woff2") format("woff2"), url("../fonts/montserratbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: #333333;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  background-color: #FFFFFF;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
}
.button {
  border: none;
  color: #FFFFFF;
  background-color: #7859CF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "montserrat", "Arial", sans-serif;
  border-radius: 4px;
}
.main-nav {
  width: 320px;
  margin: 0 auto;
}
.main-nav__logo {
  padding: 12px 90px 12px 20px;
}
.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-nav__toggle {
  border: none;
  background-color: #FFFFFF;
}
.slider-promo {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #F3EBE1;
}
.slider-promo--new {
  margin: 0 auto;
  padding: 0;
  color: #7859CF;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.slider-promo__wrapper {
  padding-bottom: 60px;
}
.slider-promo__arrowleft,
.slider-promo__arrowright {
  position: absolute;
}
.slider-promo__card {
  padding: 20px 20px 10px 20px;
}
.slider-promo__description-intro {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  padding: 0 20px;
}
.slider-promo__description-info {
  line-height: 20px;
  font-size: 14px;
  padding: 0 26px;
}
.slider-promo__description-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slider-promo__description-price {
  font-size: 20px;
  line-height: 32px;
  padding: 3px;
}
.slider-promo__description-price--del {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #7859CF;
}
.slider-promo__description-price-button {
  padding: 8px 20px;
  margin-left: 20px;
}
.site-list {
  display: none;
}
.user-list__login-name {
  display: none;
}
.benefits {
  width: 320px;
  margin: 0 auto;
}
.benefits__banner {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #7859CF;
  text-transform: uppercase;
  padding: 50px 0 4px;
}
.benefits__intro {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 30px;
}
.benefits__item {
  display: flex;
  flex-direction: column;
}
.benefits__item-img {
  margin: 0 auto;
  padding-bottom: 20px;
}
.benefits__item-intro {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.benefits__item-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px 30px;
}
.catalog {
  width: 320px;
  margin: 0 auto;
  background-color: #F8F8F8;
}
.catalog__filter {
  padding: 0 20px 48px;
}
.catalog__banner {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #7859CF;
  text-transform: uppercase;
  padding: 50px 0 4px;
}
.catalog__intro {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 30px;
}
.catalog__filter-button {
  background-color: #FFFFFF;
  color: #7859CF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 67px;
}
.range {
  display: flex;
  flex-direction: column;
}
.range-intro {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.range__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.range-min,
.range-max {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #7859CF;
  border-radius: 4px;
}
.range-min {
  padding: 10px 55px;
  color: #BDBDBD;
}
.range-stroke {
  padding: 0 10px;
  margin: auto;
}
.range-max {
  padding: 10px 45px;
}
.radio {
  text-align: left;
}
.radio__intro {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.radio__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.checkbox {
  text-align: left;
}
.checkbox__intro {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.checkbox__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.sort {
  border: none;
}
.sort__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.sort__value {
  border: none;
  background-color: inherit;
  color: #7859CF;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.card__item {
  background-color: #FFFFFF;
  margin: 20px;
}
.card__item-img {
  margin: 0 auto;
  padding: 40px 0 24px;
}
.card__item-intro {
  padding-left: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.card__item-info {
  padding: 0 30px 0 20px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 0 20px;
}
.price__walue {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
.price__button {
  padding: 8px 20px;
}
.price__button-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.pagination__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 20px 60px;
}
.pagination__item {
  padding: 8px 20px;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7859CF;
}
.pagination__item--choose {
  background-color: inherit;
  color: #333333;
  font-weight: 600;
}
.pagination__item-word {
  display: none;
}
.pagination__item-icon {
  display: none;
}
.footer {
  width: 320px;
  margin: 0 auto;
}
.footer__item {
  border-top: 1px solid #F0EBFF;
  padding: 20px;
  text-align: left;
}
.footer__item:nth-child(3) {
  border-bottom: 1px solid #F0EBFF;
}
.footer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #7859CF;
  padding-bottom: 20px;
}
.footer__list {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.footer__list li {
  padding-bottom: 15px;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}
.social__logo {
  padding: 22px 0 22px 20px;
}
.social__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.social__item {
  padding-left: 39px;
}
.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #BDBDBD;
  padding: 20px 30px 30px 20px;
}
.bottom__logo {
  padding-left: 5px;
}
.list__container {
  display: flex;
  flex-direction: row;
}
.list__icon {
  padding-right: 10px;
}
/*# sourceMappingURL=style.css.map */
